.faqBody {
  width: 550px;
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0px 6px 20px #35353529;
  overflow: hidden;
}
.accordion-heading {
  gap: 15px;
  margin-bottom: 14px;

  h1 {
    font-size: 2.3rem;
  }

  img {
    width: 35px;
  }
}

@media (max-width: 620px) {
  .faqBody {
    width: 80%;
  }
}
@media (max-width: 334px) {
  .faqBody {
    border-radius: 10px;
  }
}
